.App-header {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.5em;
  padding: 10px;
  color: black;
}

.App-title {
  font-size: 1.5em;
  text-align: center;
}

.App-info {
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px 20px 10px 20px;
  text-align: left;
}

.App-info > div {
  height: 55px;
  padding: 20px;
  display: inline-block;
}